.link-info{
    text-decoration: none;
    font-size: 36px;
}

.about{
    background-image: url("https://images.pexels.com/photos/239548/pexels-photo-239548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 800px;
    background-position: center;
    color: whitesmoke;
}

.leftText{
    position: absolute;
    padding: 2px 2px 2px 2px;
    margin: 5% 10%;
    /*left: 5%;*/
    width: 450px;
    height: 650px;
    border: 3px ;
}

.rightText{
    position: absolute;
    right: 10%;
    margin: 5% 10%;
    padding: 30px 20px;
}

.about h1{
    text-align: center;
    margin: 1px;
}

.tops{
    text-align: center;
    height: 500px;
    /*background-image: url("https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
    background-color: whitesmoke;
    background-position: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(33, 37, 41, 255);
    color: white;
    text-align: center;
}

.start{
    text-align: center;
    height: 260px;
    color: whitesmoke;
    padding: 20px;
}

.container {
    height: 200px;
    position: relative;
}

.startButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    background-color: rgba(33, 37, 41, 255);
    color: whitesmoke;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.startButton:hover{
    color: #0DCAF0;
    height: 120px;
    width: 240px;
}

.form{
    margin:10%
}

.tests{
    text-decoration: none;
    color: whitesmoke;
}

.tests:hover{
    color: #0DCAF0;
    width: 4%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(33, 37, 41, 255);
    color: white;
}

table tr:hover {background-color: #ddd;}
table tr:nth-child(even){background-color: #f2f2f2;}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rank{
    width: 40px;
}



.test-start{
    border: #0DCAF0 solid 2px;
    padding: 2px;
    margin: 60px;
    height: auto;
    width: auto;
}

.variants{
    background-color: unset;
    border: none;
    size: auto;
    color: black;
    size: landscape;
    display: inline-block;
}

.active, .variants:hover {
    background-color: #0DCAF0;
    color: white;
}

.formContainer{
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: auto;
    padding: 20px;
    color: rgba(33, 37, 41, 255);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    /*border: 5px solid rgba(33, 37, 41, 255);*/
    /*border-radius: 5px;*/
}

.register{
    background-image: url("https://images.pexels.com/photos/1174732/pexels-photo-1174732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.formContainer #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(33, 37, 41, 255);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    background: transparent;
    color: rgba(33, 37, 41, 255);
}

.formContainer button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: rgba(33, 37, 41, 255);
    border-radius: 5px;
    color: white;
}

.formContainer button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: rgba(33, 37, 41, 255);
}

span {
    color: red;
}
/*Login*/
.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 700px;
    padding-top: 100px;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: auto;
    padding: 20px;
    color: rgba(33, 37, 41, 255);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.loginContainer input,
button {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin: 10px;
    background: transparent;
}

.loginContainer button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.loginContainer button:hover {
    background-color: white;
    color: rgba(33, 37, 41, 255);
}

.loginContainer input {
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.logOut{
    color: #0DCAF0;
    position: absolute;
    right: 0;
}

.admin{
    position: relative;
    width: 100%;
    height: 100%;
}

.top{
    position: absolute;
    right: 0;
    width: 1600px;
    height: 930px;
    border: 3px solid blue;
}

.sidebar{
    position: absolute;
    left: 0;
    width: 300px;
    height: 930px;
    border: 3px solid green;
}

.navs{
    color: #9B9D9E;
    text-decoration: none;
}